*{
    margin: 0%;
    padding: 0%;
}
.header{
    background-color:rgb(43, 5, 148);
    color:lightskyblue;
    
}
h1{
    padding: 15px;
}
.body{
    align-content: center;
    text-align: center;
    min-height: calc(100vh - 67.6px - 68.4px);
}
td{
    padding: 10px;
}
h2{
    padding: 30px;
}
input{
    border-color: rgb(191, 190, 190);
    border-radius: 50px;
    background-color: rgb(191, 190, 190);
    padding: 10px;
}
.footer{
    background-color: rgb(43, 5, 148);
    color: white;
    padding: 25px;
    bottom: 0%;
    text-align: center;
}
button{
    border-color: rgb(220, 107, 107);
    border-radius: 50px;
    background-color: rgb(220, 107, 107);
    color: white;
    padding: 5px;
}
.fp{
    padding-left: 70px;
}